<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand"  href="#">
      <img src="../assets/logo.png" style="height: 90px;" class="img-fluid" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link fs-5" href="#" routerLink="">Ana Sayfa</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5" href="#" id="dropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">Kategoriler</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownCategories">
            <li><a class="dropdown-item" href="#">Kategori 1</a></li>
            <li><a class="dropdown-item" href="#">Kategori 2</a></li>
            <li><a class="dropdown-item" href="#">Kategori 3</a></li>
            <li><a class="dropdown-item" href="#">Kategori 4</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="#">Ürünler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="#" >Kategoriler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="#" routerLink="./card">Sepetim ({{CartLength()}})</a>
        </li>
      </ul>
     
      <ul class="navbar-nav me-5"  *ngIf="!checkAnyUserAuthentication(); else loggedOut">
        <li class="nav-item">
          <a class="nav-link fs-5" href="#" routerLink="/login">Giriş Yap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="#" routerLink="/register">Kayıt Ol</a>
        </li>
      </ul>
      <ng-template #loggedOut>
        <ul class="navbar-nav me-5">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fs-5" href="#" id="dropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{FirstName+' '+LastName}}</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownCategories">
              <li><a class="dropdown-item" href="#">Profilim</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/orderHistory">Siparişlerim</a></li>
              <li><a class="dropdown-item" href="#">Kuponlarım</a></li>
              <div class="dropdown-divider "></div>
              <li><a class="dropdown-item text-danger" href="#">Çıkış Yap</a></li>
            </ul>
          </li>
          
            <button type="button" class="nav-link fs-5 btn btn-danger text-white btn-sm" (click)="logOut()">Çıkış Yap</button>
          
        </ul>
      </ng-template>
     
    </div>
  </div>
</nav>


