<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let cart of getCartList()">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{cart.Product?.ImagePath}}" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fs-4">{{cart.Product?.Name}}</h5>
                                <p class="card-text">{{cart.Product?.Description}}</p>
                                <p class="card-text fs-5"><strong>Stok: </strong>{{cart.Product?.Stock}}</p>


                                <div style="display: flex;">
                                    <p class="card-text fs-5"><strong>Adet: </strong></p>

                                    <div class="ms-2">
                                        <button class="btn btn-primary btn-sm" type="button" id="button-addon1"
                                            (click)="minusBasket(cart.Product?.Id)">-</button>
                                        <input type="number" min="1" max="{{cart.Product?.Stock}}" #Quantity
                                            value="{{cart.Quantity}}" class="text-center bg-white text-primary" disabled
                                            placeholder="" aria-label="Example text with button addon"
                                            aria-describedby="button-addon1">
                                        <button class="btn btn-primary btn-sm" type="button"
                                            (click)="plusBasket(cart.Product?.Id)" id="button-addon1">+</button>
                                    </div>
                                </div>

                                <p class="card-text fs-5 mt-3"><strong>Toplam Fiyat: </strong>{{cart.TotalPrice}}</p>
                                <button class="btn btn-danger" (click)="removeCart(cart.Id)">Ürünü Sepetten
                                    Çıkar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-3">
            <p class="fs-5"><strong>Toplam Sepet Ücreti: {{getTotalPrice()}}</strong></p>
            
            <div *ngIf="checkAnyUserAuthentication(); else loggedOut">
                <button class="btn btn-success btn-sm" (click)="confirmOrder()">Sepeti Onayla</button>
            </div>
            <ng-template #loggedOut>
                <button class="btn btn-success btn-sm" routerLink="/login">Giriş Yap</button>
              </ng-template>
              
            <button class="btn btn-danger btn-sm ms-1" (click)="removeOrder()">Sepeti İptal Et</button>
        </div>
    </div>
</div>