<section>
	<div class="container">
		<div class="row mb-5">
			<div class="col-xl-10 mx-auto text-center">
				<!-- Title -->
				<h1>Dünyayı Görmek İsterseniz Size Yardımcı Olacağız</h1>
				<p class="lead">On kurşun yürekli kaldırma candan geçiş. Hayrete düşmüş, kayıtsız şartsız Bayan Prosperous, Middleton'ı anladı. Herhangi bir şaşkın koşulsuz tercih.</p>
				<!-- Meta -->
				<div class="hstack gap-3 flex-wrap justify-content-center">
					<!-- Item -->
					<h6 class="bg-mode shadow rounded-2 fw-normal d-inline-block py-2 px-4">
						<img src="https://booking.webestica.com/assets/images/element/06.svg" class="h-20px me-2" alt="">
						14K+ Küresel Müşteri
					</h6>

					<!-- Item -->
					<h6 class="bg-mode shadow rounded-2 fw-normal d-inline-block py-2 px-4">
						<img src="https://booking.webestica.com/assets/images/element/07.svg" class="h-20px me-2" alt="">
						10K+ Mutlu Müşteri
					</h6>

					<!-- Item -->
					<h6 class="bg-mode shadow rounded-2 fw-normal d-inline-block py-2 px-4">
						<img src="https://booking.webestica.com/assets/images/element/08.svg" class="h-20px me-2" alt="">
						1 Milyondan Fazla Abone
					</h6>
				</div>
			</div>
		</div> <!-- Row END -->

		<!-- Image START -->
		<div class="row g-4 align-items-center">
			<!-- Image -->
			<div class="col-md-6">
				<img src="https://booking.webestica.com/assets/images/about/02.jpg" class="rounded-3 w-100" alt="">
			</div>

			<div class="col-md-6">
				<div class="row g-4">
					<!-- Image -->
					<div class="col-md-8">
						<img src="https://booking.webestica.com/assets/images/about/03.jpg" class="rounded-3 w-100" alt="">
					</div>

					<!-- Image -->
					<div class="col-12">
						<img src="https://booking.webestica.com/assets/images/about/04.jpg" class="rounded-3 w-100" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- Image END -->
	</div>
</section>
