<h2>{{product?.Name}}</h2>
<hr>
<div class="row">
    <div class="col-6">
        <img src="{{product?.ImagePath}}" alt="" class="img-fluid">
    </div>
    <div class="col-6 ps-4">
        <span>Stock: {{product?.Stock}}</span>

            <div class="mt-3 mb-3" innerHTML="{{product?.Description}}"></div>
       
        <div class="input-group mb-3 stock">
            <button class="btn btn-primary" type="button" (click)="minusBasketCounter()"[disabled]="!(basketCounter>1)"  id="button-addon1">-</button>
            <input type="number" min="0" max="{{product?.Stock}}" value="{{basketCounter}}" #quantity value="1" #Quantity   class=" text-center bg-white text-primary" disabled placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="btn btn-primary" type="button" (click)="plusBasketCounter()" [disabled]="!(maxBasketNumber>basketCounter)"   id="button-addon1">+</button>

        </div>
        <button class="btn btn-primary" (click)="addBasket(product,quantity.value)">Sepete Ekle</button>
        <button class="btn btn-danger ms-2" routerLink="">Alışverişe Devam Et</button>
    </div>
</div>
