<div class="row my-5 ms-5 me-5 justify-content-center">
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ms-5" *ngFor="let product of productList">
    <div class="card h-100">
      <div class="card-header">
        <img src="https://img-monsternotebook.mncdn.com/UPLOAD/urun-gorselleri-yeni/a5-V19.1-resimler/thumb/V19.X-3050-TI-EKRANKART_small.png" class="card-img-top" />
      </div>
      <div class="card-body">
        <span class="badge bg-primary mb-2">{{product.Category.Name}}</span>
        <h5 class="card-title">{{ product.Name }}</h5>
        <h3 class="card-text">{{ product.UnitPrice }}₺</h3>
      </div>
      <div class="card-footer text-center">
          <div class="container">
            <button class="btn btn-primary btn-lg">Sepete Ekle</button>
          </div>
      </div>
    </div>
  </div>
</div>
