<app-slider></app-slider><br/><br/><br/><br/>
<div class="row my-5 ms-5 me-5 justify-content-center">
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ms-5" *ngFor="let product of productList">
    <div class="card h-100">
      <div class="card-header">
        <img src="{{product.ImagePath}}" class="card-img-top" />
      </div>
      <div class="card-body">
        <span class="badge bg-{{product.Category.Color}} mb-2">{{product.Category.Name}}</span>
        <h5 class="card-title">{{ product.Name }}</h5>
        <h3 class="card-text">{{ product.UnitPrice }}₺</h3>
      </div>
      <div class="card-footer text-center">
          <div class="container">
            <button class="btn btn-outline-{{product.Category.Color}} btn-lg" routerLink="/productDetail/{{ product.Id }}">Sepete Ekle</button>
          </div>
      </div>
    </div>
  </div>
</div>
