<div class="row">
 
    <div class="col-3 my-4">
      <button class="btn btn-success m-5" routerLink="/addPhone">Yeni Telefon Ekle</button>
      <div
        class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white"
        style="width: 280px"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4 fw-bold">Filtreleme</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link fs-5 fw-bold" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Marka
            </a>
            <hr />
            <div>
              <ul>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Apple</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Samsung</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Huawei</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Xiaomi</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Vestel</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Oppo</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Reeder</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Realme</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Casper</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Vivo</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Asus</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Honor</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item mt-4">
            <a href="#" class="nav-link fs-5 fw-bold" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              RAM Kapasitesi
            </a>
            <hr />
            <div class="text-decoration-none">
              <ul>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">2 GB</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">4 GB</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">6 GB</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">8 GB</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item mt-4">
            <a href="#" class="nav-link fs-5 fw-bold" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Dahili Hafıza
            </a>
            <hr />
            <div class="text-decoration-none">
              <ul>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">32 GB</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">64 GB</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">128 GB</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">256 GB</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item mt-4" style="height: 250px;">
            <a href="#" class="nav-link fs-5 fw-bold" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Ekran Boyutu
            </a>
            <hr />
            <div>
              <ul>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">6 ve üzeri inç</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">5.5 - 5.9 inç</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">5 - 5.4 inç</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">4.5 - 4.9 inç</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">4 - 4.4 inç</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item" style="height: 300px;">
            <a href="#" class="nav-link fs-5 fw-bold" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Pil Gücü
            </a>
            <hr />
            <div>
              <ul>
                <li>
                  <div class="row">
                    <div class="col-8"><label for="">5000 mAh ve Üzeri</label></div>
                    <div class="col-4">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-8"><label for="">4000 - 4999 mAh</label></div>
                    <div class="col-4">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-8"><label for="">3500 - 3999 mAh</label></div>
                    <div class="col-4">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-8"><label for="">3000 - 3499 mAh</label></div>
                    <div class="col-4">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-8"><label for="">2500 - 2999 mAh</label></div>
                    <div class="col-4">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-8"><label for="">2000 - 2499 mAh</label></div>
                    <div class="col-4">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-8"><label for="">1500 - 1999 mAh</label></div>
                    <div class="col-4">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-8"><label for="">0 - 1499 mAh</label></div>
                    <div class="col-4">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item mt-4" style="height: 300px;">
            <a href="#" class="nav-link fs-5 fw-bold" aria-current="page">
              <svg class="bi me-2" width="16" height="18">
                <use xlink:href="#home"></use>
              </svg>
              Kamera Çözünürlüğü
            </a>
            <hr />
            <div>
              <ul>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">20 MP ve Üzeri</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">13 - 19.9 MP</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">8 - 12.9 MP</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">3 - 7.9 MP</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">0 - 2.9 MP</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item mt-4" style="height: 250px;">
            <a href="#" class="nav-link fs-5 fw-bold" aria-current="page">
              <svg class="bi me-2" width="16" height="18">
                <use xlink:href="#home"></use>
              </svg>
              Değerlendirme
            </a>
            <hr />
            <div>
              <ul>
                <li>
                  <div class="row">
                    <div class="col-6"><label for=""><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for=""><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for=""><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for=""><i class="bi bi-star"></i><i class="bi bi-star"></i></label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for=""><i class="bi bi-star"></i></label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item mt-4" style="height: 150px;">
            <a href="#" class="nav-link fs-5 fw-bold" aria-current="page">
              <svg class="bi me-2" width="16" height="18">
                <use xlink:href="#home"></use>
              </svg>
              Yüz Tanıma
            </a>
            <hr />
            <div>
              <ul>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Var</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Yok</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item mt-4" style="height: 150px;">
            <a href="#" class="nav-link fs-5 fw-bold" aria-current="page">
              <svg class="bi me-2" width="16" height="18">
                <use xlink:href="#home"></use>
              </svg>
              Kablosuz Şarj
            </a>
            <hr />
            <div>
              <ul>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Var</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-6"><label for="">Yok</label></div>
                    <div class="col-6">
                      <input type="checkbox" name="" id="" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="row my-5">
        <div class="col-4 mb-4">
          <div class="card">
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
